/*TOP HEADER*/
.topheader {
  position:fixed;
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.Logo img {
  width: 80px;     
  height: auto;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Menu-Horizontal li a{
  text-decoration: none;
  padding: 15px 20px;
  color: black;
}

.Menu-Horizontal li a:hover {
  color: grey;
}

.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 180px;
  list-style: none;
  background-color: rgb(202, 100, 75)
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.Menu-Vertical li a:hover {
  background-color: #925959;
}

/*SECCION TOP SEMANAL*/

.seccion-top{
  padding: 60px 20px;
  background-color: rgb(189, 93, 101);
}

.div-gnral-top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.div-top-texto{
  flex: 1;
}

.div-top-texto h2{
  color: whitesmoke;
  margin-bottom: 15px;
}

.div-top-texto p{
  color: white;
  line-height: 1.6;
}

.div-top-texto button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.div-top-img{
  flex: 1;
}

.div-top-img img{
  width: 100%;
  max-width: 500px;
}

/*SECCION RECETAS*/


.seccion-receta{
  padding: 60px 20px;
  background-color: rgb(189, 93, 101);
}

.div-gnral-receta{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.div-receta-texto{
  flex: 1;
}

.div-receta-texto h2{
  color: whitesmoke;
  margin-bottom: 15px;
}

.div-receta-texto p{
  color: white;
  line-height: 1.6;
}

.div-receta-video{
  flex: 1;
}

.div-top-img iframe{
  width: 100%;
  max-width: 500px;
}


/*FORMULARIO*/
.seccion-formulario {
  background-color:goldenrod;
  padding :40px;
  border:3px solid beige;
  border-radius:10px;
  display:flex;
  justify-content: center;
  margin-bottom: 40px;
}

.div-count-formulario{
  background-color:aliceblue;
  padding: 30px;
  border: 2px solid blueviolet;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.Campo{
  background-color: rgb(182, 189, 189);
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid brown;
  border-radius: 5px;
}

.Formulario label{
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.Formulario input{type="text"} , .Formulario select{
  width: 100%;
  padding: 10px;
  border: 1.5px solid rgb(156, 135, 250);
  border-radius: 3px;
}

.lista-checkbox, .lista-radio{
  list-style: none;
  padding: 5px;
  background-color: rgb(129, 128, 145);
  border : 1px;
  border-radius: 1.5px;
}

.Formulario button{
  background-color: cadetblue;
  border: 2px solid rgb(154, 95, 160);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  margin: 20px;

}

