/*TOP HEADER*/
.topheader {
  position:fixed;
  background-color: rgb(216, 59, 182);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify content: space-around;
  width: 100%;
}

.Menu-Horizontal li a{
  text-decoration: none;
  padding: 15px 20px;
  color: black;
}

.Menu-Horizontal li a:hover {
  color: rgb(71, 54, 218);
}

.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 180px;
  list-style: none;
  background-color: beige
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.Menu-Vertical li a:hover {
  background-color: #e2e2e2;
}


/*FORMULARIO*/
.seccion-formulario {
  background-color:goldenrod;
  padding :40px;
  border:3px solid beige;
  border-radius:10px;
  display:flex;
  justify-content: center;
  margin-bottom: 40px;
}

.div-count-formulario{
  background-color:aliceblue;
  padding: 30px;
  border: 2px solid blueviolet;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.Campo{
  background-color: rgb(182, 189, 189);
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid brown;
  border-radius: 5px;
}

.Formulario label{
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.Formulario input{type="text"} , .Formulario select{
  width: 100%;
  padding: 10px;
  border: 1.5px solid rgb(156, 135, 250);
  border-radius: 3px;
}

.lista-checkbox, .lista-radio{
  list-style: none;
  padding: 5px;
  background-color: rgb(129, 128, 145);
  border : 1px;
  border-radius: 1.5px;
}

.Formulario button{
  background-color: cadetblue;
  border: 2px solid rgb(154, 95, 160);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  margin: 20px;

}


